/unity/Assets/iTween
/unity/Assets/Standard Assets
/unity/Assets/TK2DROOT
/unity/Library
/unity/*.csproj
/unity/*.pidb
/unity/*.csproj
/unity/*.csproj
/unity/*.unityproj
/unity/*.unityproj
/unity/*.sln
/unity/*.sln
/unity/*.csproj
/unity/Temp
/unity/Temp
/unity/build
